@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");
/*
 *
 *   INSPINIA - Responsive Admin Theme
 *   version 2.7.1
 *
*/
/* 「.text-center」は見つからんかった */
/* 「animated」 */


.logo-name {
  color: #e6e6e6;
  font-size: 180px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 0;
  /* text-align: center; */
}
.middle-box h1 {
  font-size: 170px;
  text-align: center;
}

.loginscreen.middle-box {
  width: 300px;
  margin: auto;
}
