<div class="container">　
  <div class='col-md-12 articles_list articles-block'>
  <h1 class="text-center">ユーザーの新規作成</h1>
        <div class="title-position">

          <%= render 'form', user: @user %>  <!-- 部分レイアウト（パーシャル）を表示！ Viewフォルダ内に「_form.html.erb」を置く！ -->

      </div>
    </div>

</div>
