.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl04 {
	position: relative;
	border-radius: 2px;
	border: 2px solid #abe7db;
  border-radius: 50px;
	background: #ffffff;
}
.cp_ipselect.cp_sl04::before {
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #7cddca;
	pointer-events: none;
}
.cp_ipselect.cp_sl04 select {
	padding: 8px 38px 8px 8px;
	color: #88fde6;
}


//////////////////////////////////////////////////////////////////////////////////////////////////////////////////@at-root
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////@at-root
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////@at-root


// @font-face{font-family:"IonIcons";src:url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1");src:url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"),url("//code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg");font-weight:normal;font-style:normal}

// .pt20{
//   padding-top: 20px;
// }
// .inverse{
//   background: #000;
//   padding: 20px 0;
//   color: #fff;
// }
// .select-wrap {
//     position: relative;
// }
// .select-wrap:before {
//     z-index: 1;
//     position: absolute;
//     right: 15px;
//     top: 0;
//     content: "\f123";
//     font-family: "IonIcons";
//     line-height: 43px;
//     color: #7F878C;
//     pointer-events: none;
// }
// select{
//     outline:none;
//     -moz-appearance: none;
//     text-indent: 0.01px;
//     text-overflow: '';
//     background: none transparent;
//     vertical-align: middle;
//     font-size: inherit;
//     color: inherit;
//     -webkit-appearance: button;
//     -moz-appearance: button;
//     appearance: button;
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     // height: 40px;
//     padding: 8px 12px;
//     border:1px solid #ddd;
//     color:#828c9a;
//     width:100%;
//     border-radius:3px;
// }
// select option{
//   background-color: #fff;
//   color: #333;
// }
// select::-ms-expand {
//   display: none;
// }
// select:-moz-focusring { 
//   color: transparent; 
//   text-shadow: 0 0 0 #828c9a;
// }
// .select-wrap.select-primary:before{
//   color:#fff;
// }
// .select-wrap.select-primary > select{
//   background:#0084B4;
//   color:#fff;
//   border-color:#0084B4;
// }
// .select-wrap.select-primary > select:-moz-focusring { 
//   color: transparent; 
//   text-shadow: 0 0 0 #fff;
// }

// .select-wrap.select-inverse:before{
//   color:#fff;
// }
// .select-wrap.select-inverse > select{
//   color:#fff;
//   border-color: #fff;
// }

// .select-wrap.select-inverse > select:-moz-focusring { 
//   color: transparent; 
//   text-shadow: 0 0 0 #fff;
// }