<% if admin_signed_in? %>
<div class="row border-bottom" data-turbolinks="false">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0;">


        <%# なんでこれあるか分からん %>
        <div class="navbar-header">
        <!--
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->

aaaaaaaaaaaaaaa

          <!--
          <% if admin_signed_in? %>
            <a class="navbar-brand" href="/"><%= current_admin.name %>でログイン中</a>
          <%end%>
          -->
          <% if admin_signed_in? %>
            <!-- <a href="/"> <img src="/panopticon.png" alt="panopticon" style='width:80%; height:80%;'> </a> -->
            <a href="/" class="navbar-brand" style="color:#179e83; padding-left:35px"> <b>Panopticon</b> </a>
          <%end%>
        </div>
        


        <ul class="nav navbar-top-links navbar-right">
              <% if admin_signed_in? %>
                <li> <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"fas fa-sign-out-alt" %> </li>
              <%else%>
                <li> <%= link_to '管理者登録', new_admin_registration_path %> </li>
                <li> <%= link_to 'ログイン', new_admin_session_path %> </li>
            <%end%>
        </ul>
    </nav>
</div>
<%end%>